openapi: 3.2.0
info:
  description: Public-facing API for the Marble platform
  summary: Marble Public API v1
  title: Marble Public API v1 Credits API
  version: 1.0.0
servers:
- description: World API
  url: https://api.worldlabs.ai
security:
- ApiKeyAuth: []
tags:
- name: Credits
paths:
  /marble/v1/credits:
    get:
      description: 'Get remaining API credits for the authenticated user.


        Returns:

        CreditsResponse with the current aggregate API credit balance.


        Raises:

        HTTPException: 404 if the caller is not an API-enabled user

        HTTPException: 503 if the billing backend is unavailable'
      operationId: get_credits_marble_v1_credits_get
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreditsResponse'
          description: Successful Response
      summary: Get Credits
      tags:
      - Credits
components:
  schemas:
    CreditsResponse:
      description: Remaining credits for the authenticated API user.
      properties:
        remaining_credits:
          description: Remaining API credits available to the authenticated user.
          minimum: 0
          title: Remaining Credits
          type: number
      required:
      - remaining_credits
      title: CreditsResponse
      type: object
  securitySchemes:
    ApiKeyAuth:
      description: API key for authentication. Get your key from the developer portal.
      in: header
      name: WLT-Api-Key
      type: apiKey
